---
import { getCollection } from 'astro:content'
import Layout from '@/layouts/pageLayout.astro'
import Link from '@/components/link.astro'
import PostTitle from '@/components/postTitle.astro'
import { getPosts } from '@/lib/getPosts'
// import FormattedDate from '@/components/FormattedDate.astro'

const posts = getPosts(await getCollection('blog'))
---

<Layout>
  <section>
    {
      posts.map((post) => {
        return (
          <Link
            classList={[
              "block scale-100 py-4 hover:scale-[1.005] active:scale-100",
            ]}
            target="_self"
            href={"/" + post.slug + "/"}
          >
            <article>
              <PostTitle
                date={post.data.pubDate}
                title={post.data.title}
								transition:name={post.data.title}
              />
              {/* <p class="text-[13px] text-gray-700 dark:text-gray-300">
                <FormattedDate date={post.data.pubDate} />
              </p> */}
							<p>{post.data.spoiler}</p>
            </article>
          </Link>
        );
      })
    }
  </section>
</Layout>

<style>
	section {
		position: relative;
		top: -10px;
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	p {
		margin-top: 1rem;
	}
</style>
